/* Secondary Players. Your oponents. Their private information is not shown. */

.opponent-container {
    display: flex;
    background-color: #2a2a2a;
    justify-content: space-between;
    height: 10vh;
    width: 12vw; /* View port width */
    padding: 2vh;
    border-radius: 5%;
    overflow: hidden;  /* Add this */
    gap: 1vh;
    border: 1vh solid black;
  
    /* Table Positioning */
    position: fixed;
}

/* top right */
.opponent-container:nth-child(1) {
    top: 20%;
    right: 5%;
    transform: translate(0, 0);
}

/* top left */
.opponent-container:nth-child(2) {
    top: 20%;
    left: 5%;
    transform: translate(0, 0);
}

/* bottom right */
.opponent-container:nth-child(3) {
    bottom: 10%;
    right: 5%;
    transform: translate(0, 0);
}

/* bottom left */
.opponent-container:nth-child(4) {
    bottom: 10%;
    left: 5%;
    transform: translate(0, 0);
}


