/* Secondary Players. Your oponents. Their private information is not shown. */

.opponent-container {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #322f2f;
    border-radius: 12px;
    padding: 8px 16px;
    gap: 12px;
    min-width: 250px;
    height: 100px;
}

/* top right */
.opponent-container:nth-child(1) {
    top: 20%;
    right: 5%;
    transform: translate(0, 0);
}

/* top left */
.opponent-container:nth-child(2) {
    top: 20%;
    left: 5%;
    transform: translate(0, 0);
}

/* bottom right */
.opponent-container:nth-child(3) {
    bottom: 10%;
    right: 5%;
    transform: translate(0, 0);
}

/* bottom left */
.opponent-container:nth-child(4) {
    bottom: 10%;
    left: 5%;
    transform: translate(0, 0);
}


