/* 


.player-image {
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: white;
}


.player-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.player-name {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.player-funds {
    color: #9e9e9e;
    margin: 0;
    font-size: 20px;
}

.player-bet {
    color: #4caf50;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
} */